<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/stylePhotoRedactor.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/croppie.css" />
</head>
<body>
    <div class="form">
        <div class="form-box">
                <di class="image-box">
                    <div id="upload-image"></div>
                </div>
                <div class="downForm">
                    <div class="file-input">
                        <input type="file" id="images" class="file">
                        <label id="tr" for="images">Загрузить</label>
                      </div>
                    <button class="buttonUp">Обновить</button>
                </div>
        </div>
    </div>
    <div class="overlay"></div>
    <header>
        <div class="borderH">
            <nav class="menu">
              <img class="logo-menu" src="img/orange.svg" />
              <ul>
                <li class="plus"><a href="PhotoRedactor.html"><i class="fas fa-plus"></a></i></li>
                <li>
                    <div class="popUpMenu">
                        <a class="focus search" href="#"><i class="fas fa-search"></i></a>
                        <div class="hidden hSearch">
                            <input class="inpSearch" type="text" autocomplete="off" placeholder="Поиск..." />
                            <div class="listUsers">
                                <!-- <div class="divSUser">
                                    <img class="imgSUser" src="img/receiver1.png">
                                    <div class="nickSUser">Buldoserasdsadasdsadasd</div>
                                </div>
                                <div class="divSUser">
                                    <img class="imgSUser" src="img/av.PNG" >
                                    <div class="nickSUser">XYI</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="iConversations">
                        <i class="fas fa-envelope empty"></i>
                        <i class="fas fa-envelope-open noEmpty"></i>
                    </a>
                </li>
                <li><a href="Ribbon.html"><i class="fas fa-layer-group"></i></a></li>
                <li>
                    <div class="popUpMenu">
                        <a class="focus" href="#"><img class="imgHeader"></a>
                        <div class="hidden hMenu">
                            <ul class="profileMenu">
                                <li><a href="Profile.html" class="myProfile"><i class="fas fa-user-circle"></i><span>Профиль</span></a></li>
                                <li><a href="Settings.html"><i class="fas fa-cog"></i><span>Настройки</span></a></li>
                                <li><a href="#" class="exit"><i class="fas fa-times-circle"></i><span>Выход</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
              </ul>
            </nav>
        </div>
    </header>
    <section class="photoRedactor">
        <div class="boxPhoto">
            <img class="photo" />
        </div>
        <div class="param">
            <div>
            <label for="">Яркость</label>
            <div class="boxRange" name="brightness">
                <input class="range" min="-255" max="255" value="0" step="1"  type="range">  
                <input class="inputRange" type="text" value="0">
            </div>
            <label for="">Контрастность</label>
            <div class="boxRange" name="contrast">
                <input class="range" min="-50" max="150" value="0" step="1" type="range">  
                <input class="inputRange" type="text" value="0">
            </div>
            <label for="">Фильтры</label>
            <div class="filters">
                
            </div>
            </div>
            <input name="AddPhoto" class="buttonR" type="button" value="Добавить"/>
        </div>
    </section>
    <footer>
        <div>
            © 2020 Авторские права: Dmitry Babich
        </div>
    </footer>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script src="js/croppie.js"></script>
    <script src="js/scriptPhotoRedactor.js"></script>
    <script src="js/scriptHeader.js"></script>
    <script src="js/script.js"></script>
</body>
</html>