<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/styleRegistration.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/croppie.css" />
  </head>
  <body>
    <div class="form">
      <div class="form-box">
        <div class="image-box">
          <div id="upload-image"></div>
        </div>
        <div class="downForm">
          <div class="file-input">
            <input type="file" id="images" class="file" />
            <label id="tr" for="images">Загрузить</label>
          </div>
          <button class="buttonUp">Обновить</button>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
    <section class="s1">
      <!-- test -->
      <div class="H">Регистрация</div>
      <div class="columns">
        <div class="cropImg">
          <img class="avatar" src="img/user.png" />
        </div>
        <form id="info" action="" method="post">
          <div class="boxInput">
            <input
              class="inp"
              type="text"
              name="Login"
              autocomplete="off"
              placeholder="Имя аккаунта"
            />
            <label class="error"></label>
          </div>
          <div class="boxInput">
            <input
              class="inp"
              type="text"
              name="Email"
              autocomplete="off"
              placeholder="Email"
            />
            <label class="error"></label>
          </div>
          <div class="boxInput">
            <input
              class="inp"
              type="text"
              name="Phone"
              autocomplete="off"
              placeholder="Номер телефона"
            />
            <label class="error"></label>
          </div>
          <div class="boxInput">
            <input
              class="inp"
              type="password"
              name="Password"
              autocomplete="off"
              placeholder="Пароль"
            />
            <label class="error"></label>
          </div>
          <div class="boxInput">
            <input
              class="inp"
              type="password"
              name="ConfirmPassword"
              autocomplete="off"
              placeholder="Повторите Пароль"
            />
            <label class="error"></label>
          </div>
          <input
            name="Registration"
            class="buttonR"
            type="button"
            value="Зарегистрироваться"
          />
          <!-- <div class="reg">Отсутсвует аккаунт? <a href="#">Зарегистрироваться</a></div> -->
        </form>
      </div>
    </section>
    <footer>
      <div>© 2020 Авторские права: Dmitry Babich</div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="js/croppie.js"></script>
    <script src="js/scriptRegistration.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
