<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/styleRibbon.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="formPhoto">
        <div>
            <div class="divFUser">
                <img class="imgFUser otherP">
                <div class="nickFUser otherP"></div>
            </div>
            <div class="divIS">
                <img class="imgSubscriber"/>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <header>
        <div class="borderH">
            <nav class="menu">
              <img class="logo-menu" src="img/orange.svg" />
              <ul>
                <li class="plus"><a href="PhotoRedactor.html"><i class="fas fa-plus"></a></i></li>
                <li>
                    <div class="popUpMenu">
                        <a class="focus search" href="#"><i class="fas fa-search"></i></a>
                        <div class="hidden hSearch">
                            <input class="inpSearch" type="text" autocomplete="off" placeholder="Поиск..." />
                            <div class="listUsers">
                                <!-- <div class="divSUser">
                                    <img class="imgSUser" src="img/receiver1.png">
                                    <div class="nickSUser">Buldoserasdsadasdsadasd</div>
                                </div>
                                <div class="divSUser">
                                    <img class="imgSUser" src="img/av.PNG" >
                                    <div class="nickSUser">XYI</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="iConversations">
                        <i class="fas fa-envelope empty"></i>
                        <i class="fas fa-envelope-open noEmpty"></i>
                    </a>
                </li>
                <li><a href="Ribbon.html"><i class="fas fa-layer-group"></i></a></li>
                <li>
                    <div class="popUpMenu">
                        <a class="focus" href="#"><img class="imgHeader"></a>
                        <div class="hidden hMenu">
                            <ul class="profileMenu">
                                <li><a href="Profile.html" class="myProfile"><i class="fas fa-user-circle"></i><span>Профиль</span></a></li>
                                <li><a href="Settings.html"><i class="fas fa-cog"></i><span>Настройки</span></a></li>
                                <li><a href="#" class="exit"><i class="fas fa-times-circle"></i><span>Выход</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
              </ul>
            </nav>
        </div>
    </header>
    <section class="ribbon">
            <!-- <div class="boxImg"></div>
            <div class="boxImg"></div>
            <div class="boxImg"></div>
            <div class="boxImg"></div>
            <div class="boxImg"></div>
            <div class="boxImg"></div>
            <div class="boxImg"></div>
            <div class="boxImg"></div>
            <div class="boxImg"></div> -->
    </section>
    <footer>
        <div>
            © 2020 Авторские права: Dmitry Babich
        </div>
    </footer>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script src="js/scriptRibbon.js"></script>
    <script src="js/scriptHeader.js"></script>
    <script src="js/script.js"></script>

</body>
</html>